{% extends 'base.html' %}


{% block content %}

<h1>{{ title }}</h1>
<form action="{% url 'thx_page' %}" method="POST">
    {% csrf_token %}
    <select name="post">
        {% for p in posts%}
            <option value="{{p.id}}">{{p.name}}</option>
        {% endfor %}
    </select>
    <label for="user_name"> ФИО</label>
    <input name='user_name' id="user_name">
     <label for='mail'> mail</label>
    <input name='mail' id="mail">
    <label for="comment">Текст комментария</label>
    <input name = 'comment' id='comment'>
    <button type="submit"> Отправить </button>
</form>
{% endblock %}